h1 {
    font-size: min(12vw, 128px);
}

  p {
    font-size: clamp(2ex, 2vw , 28px);
    
  }

  .color-path {
    opacity: 30%;
  }

.values-component {
  section {
    h2, h3 {
        font-size: min(6vw, 48px);
        text-wrap: balance;
    }
    
    p {
        font-size: min(5vw, 20px);
        text-wrap: balance;
    }
}
}