
.service-component {
    h1 {
        font-size: min(8vw, 64px);
    }

    section {
        h2, h3 {
            font-size: min(6vw, 48px);
            text-wrap: balance;
        }

        p {
            font-size: clamp(16px, 1.5vw, 28px);
            text-wrap: balance;
        }
    }
}

.pppp {
    font-size: clamp(16px, 1.5vw, 28px);
    text-wrap: balance;
    max-width: 50ch;
}