@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s
  }
  .animation-delay-4000 {
    animation-delay: 4s
  }
}

body {
  background-color: white;
}

.horizontal-line {
  width: 95%;
  height: 1px;
  background-color: black;
  opacity: 20%;
}

.rect-btn {
  position: relative;
  color: black;
  border: 1px solid black;
  padding: 8px 48px;
  cursor: pointer;
  z-index: 10;
  background-color: white;
}

.custom-cursor {
  mix-blend-mode: difference;
  background-color: white;
}

nav {
  transition: transform 0.3s cubic-bezier(0.86, 0, 0.07, 1);
  transform: translateY(0);
}

.translate-y-navbar {
  transform: translateY(-100%);
}

/* The track of the scrollbar */
::-webkit-scrollbar {
    width: 12px; /* Width of the vertical scrollbar */
    height: 12px; /* Height of the horizontal scrollbar */
}

/* The handle (thumb) of the scrollbar */
::-webkit-scrollbar-thumb {
    background-color: #1E2124;
    border-radius: 0; /* This makes it square */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

/* The track part of scrollbar */
::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

/* The corner where both scrollbars meet */
::-webkit-scrollbar-corner {
    background-color: transparent;
}

/* This is for Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: black #f1f1f1;
}
