@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s
  }
  .animation-delay-4000 {
    animation-delay: 4s
  }
}

body {
  background-color: white;
}

.horizontal-line {
  width: 95%;
  height: 1px;
  background-color: black;
  opacity: 20%;
}

.rect-btn {
  position: relative;
  color: black;
  border: 1px solid black;
  padding: 8px 48px;
  cursor: pointer;
  z-index: 10;
  background-color: white;
}

.custom-cursor {
  mix-blend-mode: difference;
  background-color: white;
}

nav {
  transition: transform 0.3s cubic-bezier(0.86, 0, 0.07, 1);
  transform: translateY(0);
}

.translate-y-navbar {
  transform: translateY(-100%);
}

::-webkit-scrollbar {
    width: 12px; 
    height: 12px; 
}

::-webkit-scrollbar-thumb {
    background-color: #1E2124;
    border-radius: 0; 
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}

* {
    scrollbar-width: thin;
    scrollbar-color: black #f1f1f1;
}


/* text selection color */
::selection {
    background-color: rgba(156, 27, 49, 0.7);
    color: white;
}

::-moz-selection {
    background-color: rgba(156, 27, 49, 0.7);
    color: white;
}