.section-family {
    h1 {
        font-size: clamp(48px, 8vw, 120px);
        line-height: 95%;
    }

    h2 {
        font-size: clamp(16px, 1.5vw, 28px);
        text-wrap: balance;
        line-height: 95%;
    }

    p {
        font-size: clamp(16px, 1vw, 28px);
        text-wrap: balance;
    }
}