.statistics-component {
  h1 {
    line-height: 95%;
  }

  h1, h3 {
        font-size: min(8vw, 64px);
        width: min(90vw, 800px);
        text-wrap: balance;
  }

  p{
    font-size: clamp(16px, 1.5vw, 28px);
    font-weight: 400;
    width: min(80%, 600px);
    text-wrap: balance;
  }

  span {
    font-size: clamp(16px, 1vw, 28px);
    font-weight: 200;
  }

}