/* Aplicar la fuente Cairo a h2 */
h2 {
    font-family: 'Cairo', sans-serif;
  }
  
  /* Aplicar la fuente Overpass a p y h3 */
  p, h3 {
    font-family: 'Overpass', sans-serif;
  }

  .paragraph-with-line-breaks {
    margin-bottom: 3rem; /* Ajusta este valor según tu diseño */
  }
  